.testo {
    /*background-color: pink;*/
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-style: oblique;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.blocco {
    background-color: wheat;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.grafico {
    max-width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.piccolo {
    font-size: 20px;
    margin-top: -15px;
    padding: 0;

}

/* Per i dispositivi con schermo inferiore a 768px nascondi la legenda */
@media (max-width: 767px) {
    .legenda {
        display: none;
        visibility: collapse;
    }
}

/* Per i dispositivi con schermo superiore a 768px mostra la legenda  */
@media (min-width: 768px) {
    .legenda {
        display: flex;
        visibility: visible;
    }
}