.banner {
    background-color: #e1e1e1;
    height:50px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    /*background-color: pink;*/
    width: 98%;
    text-align: center;
}
