.Navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Navbar button {
    background-color: #4b6dd9;
    border: none;
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.Navbar label {
    color: black;
    font-size: 18px;
}
