/* CSS per card contente ore e minuti dormiti / a letto */

.dormito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: first baseline;
}

.grande {
    font-size: 50px;
}
